
body,
ol,
ul,
ul li {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  --color-headerFooterBG: #455a64;
  --color-headerFooterText: #d6d8d7;
  --color-bodyBG: #fff;
  --color-bodyText: #263238;
  --color-primary: #455a64;
  --color-secondary: #b0bec5;
  --color-tertiary: #d0dce1;
}

.lightmode {
  --color-headerFooterBG: #455a64;
  --color-headerFooterText: #d6d8d7;
  --color-bodyBG: #fff;
  --color-bodyText: #263238;
  --color-primary: #455a64;
  --color-secondary: #b0bec5;
  --color-tertiary: #d0dce1;
}

.darkmode {
  --color-headerFooterBG: #455a64;
  --color-headerFooterText: #d6d8d7;
  --color-bodyBG: #263238;
  --color-bodyText: #fff;
  --color-primary: #b0bec5;
  --color-secondary: #455a64;
  --color-tertiary: #d0dce1;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  line-height: 1.3;
  background: var(--color-bodyBG);
}

ul {
  list-style: none;
}

p {
  padding: 0;
  margin: 0 0 0.5rem;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: 400;
  color: var(--color-bodyText);
}

h3 {
  font-size: 22px;
  line-height: 38px;
}

button {
  cursor: pointer;
}

#darkModeButton {
  height: 25px;
  width: 100px;
}

.appDiv, .headerDiv {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 26px;
  color: var(--color-headerFooterBG);
}

@media only screen and (min-width: 940px) {
  .appDiv, .headerDiv {
    width: 80%;
    margin: 0 auto;
  }
}

header {
  background: var(--color-headerFooterBG);
  height: 170px;
}

@media only screen and (max-width: 600px) {
  header {
    height: auto;
  }
}

header h1, header h2 {
  margin: 0;
  font-family: "Radley", serif;
}

header h1 {
  font-size: 32px;
}

header h2 {
  font-size: 28px;
}

header .logo {
  max-width: 170px;
  max-height: 170px;
  padding: 15px 0 0 0;
  margin: 0 auto;
  display: block;
  font-size: 200px;
  font-family: 'Radley-Regular';
  fill: var(--color-bodyBG);
}


.feeds {
  text-align: center;
}
@media only screen and (min-width: 600px) {
  header .logo {
    float: left;
    margin: 0;
  }
  .feeds {
    float: right;
    margin: 0;
    padding-top: 100px;
  }
}

.feeds li {
  display: inline-block;
}

.feeds li svg:focus,
.feeds li svg:hover {
  opacity: 0.7;
}

.logo {
  max-width: 400px;
}

.musics a {
  padding: 30px 0 20px;
}

@media (max-width: 600px)
{
  .musics {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.musics {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px)
{
    .PianoPodcastDiv h2 {
    display: flex;
    justify-content: center;
  }
  .SubscribeLink {
    display: flex;
    justify-content: center;
  }
}

.PianoPodcastDiv h2 {
  font-size: 26px;
  font-family:'Radley-Regular';
}

footer {
  clear: both;
  text-align: center;
  background: var(--color-headerFooterBG);
  padding: 20px 0;
}

.feeds .linkDiv {
  margin: 15px 10px 15px 10px;
  display: inline-block;
}

.feeds .link {
  color: var(--color-headerFooterText);
}

.feeds .link svg {
  height: 35px;
  width: 35px;
  display:block;
  float: left;
}

.headerFooterText, .headerFooterText a {
  color: var(--color-headerFooterText);
}

footer a:focus,
footer a:hover {
  border-bottom: 1px solid var(--color-headerFooterText);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

/* Custom Sound Components */
.Sound {
  height: 50px;
  margin: 10px 0px 0px 0px;
  background-color: var(--color-secondary);
  display: flex;
}

.Sound.active {
    background-color: var(--color-tertiary);
}

/* PlayButtonContainer, SoundTitle, and SoundTimer are all SoundElements*/
.SoundElement {
  display: flex;
  justify-content: center;
  align-content: center;
  white-space: nowrap;
}

.SoundElementText h5 {
  position: relative;
  bottom: 50%;
  font-weight: 550;
  font-family:'Radley-Regular';
  color: var(--color-primary);
}

.PlayButtonContainer {
  display: flex;
  align-content: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  width: 10%;
  padding: 5px 0px 0px 0px;
}

.SoundTitle {
  width: 61%;
  padding: 10px 0px 0px 20px;
}

.SoundTimer {
  padding: 10px 5px 0px 0px;
  width: 29%;
  text-align: right;
}

/* PlaySvg centers the svg inside the PlayButton div */
.PlaySvg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* start of progress bar stuff */
.ProgressBarContainer {
  height: 5px;
}

.ProgressBar {
  position: relative;
  height: 100%;
  background-color: var(--color-primary);
}
/* end of progress bar stuff */

/* start of play button stuff */
.PlayButton g .play {
  transform-origin: 50% 50%;
}

.PlayButton.active g .play {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.PlayButton g .pause {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.PlayButton.active g .pause {
  visibility: visible;
  opacity: 1;
}

.PlayButton g .circle {
  transform-origin: 49% 49%;
  transition: 1s;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}

//circle1 circumference = 376
#circle1 {
  stroke: var(--color-primary);
  stroke-dasharray: 47;
  stroke-dashoffset: 70;
}

//circle2 circumference = 408
#circle2 {
  stroke: var(--color-primary);
  stroke-dasharray: 51;
  stroke-dashoffset: 77;
}

#circle1.rotated {
  stroke: var(--color-primary);
  transform-origin: 49% 49%;
  transform: rotate(-720deg);
  transition: 1s;
}

#circle2.rotated {
  stroke: var(--color-primary);
  transform-origin: 49% 49%;
  transform: rotate(720deg);
  transition: 1s;
}

/* end of play button stuff */
